{% extends 'base.html' %}

{% block title %}Galeria{% endblock %}

{% block content %}
<h1 class="display-4">Bem-vindo, {{ usuario.nome }}</h1>
<h2 class="display-4 text-center">GALERIA</h2>
<div class="mb-3 d-flex">
	<a href="{% url 'adicionar_imagem' %}" class="btn btn-primary mr-2">Adicionar Imagem</a>
	<a href="{% url 'dashboard' %}" class="btn btn-primary mr-2">Ir para Dashboard</a>
	<a href="{% url 'logout' %}" class="btn btn-danger btn-sm ms-auto">Logout</a>
</div>

<div class="container row mx-auto g-4">
{% for imagem in imagens%}
<div class="col-6 col-md-4 col-xxl-2">
            <div>
	            <div class="card">
	                <a type="button" data-bs-toggle="modal" data-bs-target="#modal{{ imagem.id }}">
					<img src="data:image/jpg;base64,{{ imagem.thumbnail }}" class="img-fluid"
					     alt="{{ imagem.titulo }}">
					</a>
                    <div class="card-header bg-black text-bg-dark">
                        <p class="text-center card-text">
	                        {{ imagem.titulo }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
	<div class="modal fade" id="modal{{ imagem.id }}" tabindex="-1" role="dialog"
	     aria-labelledby="modalLabel{{ imagem.id }}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" aria-labelledby="modalLabel{{ imagem.id }}">{{ imagem.titulo }}</h5>
					<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>{{ imagem.titulo }}</p>
					<img src="data:image/jpg;base64,{{ imagem.imagem }}" class="card-img-top"
					     alt="foto de {{ imagem.nome }}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock %}